## Census API - Part 1

### Group Quarters Population in Other Non-institutional Facilities by Sex and Age

In [104]:
import requests
HOST = 'https://api.census.gov/data'
year = '2010'
dataset = 'dec/sf2'
base_url = '/'.join([HOST, year, dataset])

predicates = {}

get_vars = ["NAME", "GEO_ID", "PCO010001"]
predicates['get'] = ','.join(get_vars)
predicates['for'] = "state:*"
r = requests.get(base_url, params = predicates)

In [105]:
print(r.text)

[["NAME","GEO_ID","PCO010001","state"],
["Alabama","0400000US01","10319","01"],
["Alaska","0400000US02","12967","02"],
["Arizona","0400000US04","21437","04"],
["Arkansas","0400000US05","6881","05"],
["California","0400000US06","192203","06"],
["Colorado","0400000US08","13390","08"],
["Connecticut","0400000US09","16268","09"],
["Delaware","0400000US10","2273","10"],
["District of Columbia","0400000US11","7091","11"],
["Florida","0400000US12","67348","12"],
["Georgia","0400000US13","20294","13"],
["Hawaii","0400000US15","11483","15"],
["Idaho","0400000US16","4186","16"],
["Illinois","0400000US17","36341","17"],
["Indiana","0400000US18","15925","18"],
["Iowa","0400000US19","10253","19"],
["Kansas","0400000US20","5984","20"],
["Kentucky","0400000US21","12895","21"],
["Louisiana","0400000US22","11571","22"],
["Maine","0400000US23","5754","23"],
["Maryland","0400000US24","15862","24"],
["Massachusetts","0400000US25","27944","25"],
["Michigan","0400000US26","40954","26"],
["Minnesota","0400000US27","28643","27"],
["Mississippi","0400000US28","6419","28"],
["Missouri","0400000US29","17782","29"],
["Montana","0400000US30","7910","30"],
["Nebraska","0400000US31","5016","31"],
["Nevada","0400000US32","5961","32"],
["New Hampshire","0400000US33","3717","33"],
["New Jersey","0400000US34","29320","34"],
["New Mexico","0400000US35","7096","35"],
["New York","0400000US36","127455","36"],
["North Carolina","0400000US37","27829","37"],
["North Dakota","0400000US38","3431","38"],
["Ohio","0400000US39","33611","39"],
["Oklahoma","0400000US40","10255","40"],
["Oregon","0400000US41","26148","41"],
["Pennsylvania","0400000US42","51410","42"],
["Rhode Island","0400000US44","3659","44"],
["South Carolina","0400000US45","9513","45"],
["South Dakota","0400000US46","8408","46"],
["Tennessee","0400000US47","14421","47"],
["Texas","0400000US48","50653","48"],
["Utah","0400000US49","7802","49"],
["Vermont","0400000US50","2858","50"],
["Virginia","0400000US51","16885","51"],
["Washington","0400000US53","33612","53"],
["West Virginia","0400000US54","3867","54"],
["Wisconsin","0400000US55","19014","55"],
["Wyoming","0400000US56","2065","56"],
["Puerto Rico","0400000US72","10536","72"]]

In [106]:
print(r.json()[0])

['NAME', 'GEO_ID', 'PCO010001', 'state']

In [107]:
col_names = ['name','GEO_ID', 'tot_pop', 'state']

import pandas as pd
df = pd.DataFrame(columns=col_names, data=r.json()[1:])

# convert dtypes
df['tot_pop'] = df['tot_pop'].astype(int)
df.head()

         name       GEO_ID  tot_pop state
0     Alabama  0400000US01    10319    01
1      Alaska  0400000US02    12967    02
2     Arizona  0400000US04    21437    04
3    Arkansas  0400000US05     6881    05
4  California  0400000US06   192203    06

In [108]:
def getdata(state_name):
    for state in state_name:
        return df[df.name==state_name].iloc[0]['state']

In [109]:
getdata('Alaska')

'02'

In [110]:
df.columns

Index(['name', 'GEO_ID', 'tot_pop', 'state'], dtype='object')

In [111]:
df.dtypes

name       object
GEO_ID     object
tot_pop     int32
state      object
dtype: object

In [112]:
df['state'] = df['state'].astype(int)

In [113]:
df.dtypes

name       object
GEO_ID     object
tot_pop     int32
state       int32
dtype: object

II. Find state with the greatest population in 2010 and display its GEO_ID, total population, and state code.

In [114]:
df.loc[df['tot_pop'].idxmax()]

name        California
GEO_ID     0400000US06
tot_pop         192203
state                6
Name: 4, dtype: object

III. Find state with lowest population in 2010 and once more display its GEO_ID, total population, and state code.

In [115]:
df.loc[df['tot_pop'].idxmin()]

name           Wyoming
GEO_ID     0400000US56
tot_pop           2065
state               56
Name: 50, dtype: object

IV. For a specific state name input and state code input, return its GEO_ID and total population.

In [116]:
y_ = {
    0:'Alabama',
    1:'Alaska',
    2:'Arizona',
    3:'Arkansas',
    4: 'California',
    5: 'Colorado',
    6: 'Connecticut',
    7: 'Delaware',
    8: 'Florida',
    9: 'Georgia',
    10: 'Hawaii',
    11: 'Idaho',
    12: 'Illinois',
    13: 'Indiana',
    14: 'Iowa',
    15: 'Kansas',
    16: 'Kentucky',
    17: 'Lousianna',
    18: 'Maine',
    19: 'Maryland',
    20: 'Massachusetts',
    21: 'Michigan',
    22: 'Minnesotta',
    23: 'Mississippi',
    24: 'Missouri',
    25: 'Montana',
    26: 'Nebraska',
    27: 'Nevada',
    28: 'New Hampshire',
    29: 'New Jersey',
    30: 'New Mexico',
    31: 'New York',
    32: 'North Carolina',
    33: 'North Dakota',
    34: 'Ohio',
    35: 'Oklahoma',
    36: 'Oregon',
    37: 'Pennsylvania',
    38: 'Puerto Rico',
    39: 'Rhode Island',
    40: 'South Carolina',
    41: 'South Dakota',
    42: 'Tennesee',
    43: 'Texas',
    44: 'Utah',
    45: 'Vermont',
    46: 'Virginia',
    47: 'Washington',
    48: 'West Virginia',
    49: 'Wisconsin',
    50: 'Wyoming'
}

In [117]:
def data(y_):
    for state_code in y_:
        if state_code in range(51):
            return df.iloc[state_code]

In [118]:
# Getting data for New York
data([32])

name          New York
GEO_ID     0400000US36
tot_pop         127455
state               36
Name: 32, dtype: object

IV. Using Census API Wrapper

In [12]:
!git clone https://github.com/datamade/census

Cloning into 'census'...

In [13]:
ls

 Volume in drive C is System SSD
 Volume Serial Number is D4AC-86F7

 Directory of C:\Users\yuvem

09/18/2021  10:36 AM    <DIR>          .
09/18/2021  10:36 AM    <DIR>          ..
07/31/2021  02:16 PM    <DIR>          .anaconda
06/03/2021  04:30 PM    <DIR>          .android
08/29/2021  05:48 AM    <DIR>          .cache
09/16/2021  12:16 PM    <DIR>          .conda
07/31/2021  02:14 PM                60 .condarc
08/11/2021  06:35 PM    <DIR>          .config
07/31/2021  04:05 PM    <DIR>          .continuum
07/31/2021  11:14 AM    <DIR>          .cookiecutters
05/24/2021  11:36 AM    <DIR>          .dotnet
09/16/2021  05:29 PM               223 .gitconfig
09/15/2021  12:17 PM    <DIR>          .ipynb_checkpoints
01/28/2021  08:01 PM    <DIR>          .ipython
08/25/2021  06:29 PM    <DIR>          .jupyter
08/29/2021  04:31 PM    <DIR>          .keras
01/28/2021  07:39 PM    <DIR>          .matplotlib
11/29/2020  05:06 PM    <DIR>          .Origin
04/29/2021  04:35 PM    <DIR>          .pylint.d
11/29/2020  05:06 PM    <DIR>          .QtWebEngineProcess
02/28/2021  01:35 PM    <DIR>          .spyder-py3
02/13/2021  09:43 AM    <DIR>          .vscode
09/15/2021  10:01 AM             1,169 __init__.py.ipynb
04/01/2021  02:10 PM             1,245 01_first_notebook.ipynb
04/01/2021  02:11 PM             1,245 01_first_notebook-Copy1.ipynb
07/14/2021  01:49 PM    <DIR>          3D Objects
09/16/2021  12:16 PM    <DIR>          anaconda3
01/29/2021  07:02 PM    <DIR>          ansel
04/15/2021  09:00 PM            10,201 Answer.ipynb
09/18/2021  01:47 AM         1,680,849 Applying Data Wrangling, EDA, Analysis to Data Storytelling.ipynb
09/14/2021  10:58 AM             3,930 Attempt Census API.ipynb
09/07/2021  09:05 PM                 0 Capstone 2
09/18/2021  10:35 AM    <DIR>          census
08/29/2021  04:31 PM             5,372 cnn_utils.ipynb
03/23/2021  08:36 PM            47,985 Coding Exercises_Functions.ipynb
06/19/2021  04:55 PM           506,198 Comparison Strings.ipynb
07/14/2021  01:49 PM    <DIR>          Contacts
08/18/2021  11:00 AM                 0 countryclub.sqbpro
08/11/2021  06:35 PM    <DIR>          data
09/12/2021  12:05 PM         5,819,999 Data Wrangling and EDA - Capstone2.ipynb
09/01/2021  12:11 PM             7,576 df.xlsx
09/11/2021  02:58 PM            88,860 dmax_cosine.csv
09/11/2021  02:58 PM            88,860 dmax_euclidean.csv
09/11/2021  02:58 PM            88,860 dmax_manhattan.csv
09/11/2021  02:58 PM            88,800 dmin_cosine.csv
09/11/2021  02:58 PM            88,800 dmin_euclidean.csv
09/11/2021  02:58 PM            88,800 dmin_manhattan.csv
05/24/2021  11:39 AM    <DIR>          Documents
09/18/2021  01:49 AM    <DIR>          Downloads
08/15/2021  01:11 AM           421,414 ds_ppm_analysis2
08/15/2021  01:11 AM           591,845 ds_ppm_analysis3
08/15/2021  01:11 AM           167,402 ds_ppm_analysis4
08/15/2021  01:10 AM         5,938,248 ds_ppm2
08/15/2021  01:10 AM         7,513,146 ds_ppm3
08/15/2021  01:10 AM         1,930,831 ds_ppm4
07/09/2021  06:31 PM           240,516 EDA Traditional and Non-traditional Burial- Part 2.ipynb
07/07/2021  05:33 PM           199,014 Extra notes for Capstone 2.ipynb
07/14/2021  01:49 PM    <DIR>          Favorites
09/11/2021  02:58 PM         1,945,393 Feature Engineering - Capstone2.ipynb
09/12/2021  09:55 PM             9,685 HackerRank Prob July .ipynb
09/13/2021  12:25 PM            66,161 HackerRank Problems.ipynb
07/31/2021  12:16 AM             2,294 Hot Keys.ipynb
08/16/2021  10:09 AM            26,119 int_to_day.ipynb
04/20/2021  10:55 PM             5,488 Interactions between Pythons Functions.ipynb
06/19/2021  05:16 PM           402,010 Linking DataFrames.ipynb
07/14/2021  01:49 PM    <DIR>          Links
04/29/2021  02:22 PM           179,239 London Calling Code.ipynb
03/25/2021  10:15 AM            20,290 Methods, Functions, Def keyword, Basics and Logic with Functions, Tuple Unpacking.ipynb
08/29/2021  04:38 PM            10,485 model.ipynb
09/11/2021  09:40 AM           356,403 Modeling - Capstone2.ipynb
07/14/2021  01:49 PM    <DIR>          Music
04/26/2021  10:59 AM            56,135 myfirstnotebook.ipynb
09/11/2021  02:58 PM            18,060 norm_minmax.csv
09/11/2021  02:58 PM            19,624 normalized_u.csv
09/11/2021  02:58 PM            18,434 normalized_us.csv
08/09/2021  08:38 PM             1,678 Notes for Capstone tree.ipynb
09/18/2021  10:26 AM    <DIR>          OneDrive
09/12/2021  12:04 PM               928 pca.csv
08/17/2021  12:09 AM    <DIR>          phpMyAdmin-5.1.1-all-languages
04/15/2021  09:00 PM           225,612 Practice Code.ipynb
08/16/2021  10:20 AM            95,679 Pre-processing & Training Data Development.ipynb
07/14/2021  01:49 PM    <DIR>          Saved Games
08/10/2021  08:04 PM             3,493 sb_utils.py.ipynb
07/29/2021  11:38 AM    <DIR>          Searches
05/26/2021  09:47 AM    <DIR>          source
08/17/2021  10:24 AM                 0 sqlite_db_pythonsqlite.db
08/18/2021  10:40 AM               874 sqlite_db_pythonsqlite.sqbpro
08/18/2021  11:27 AM            14,241 SQLTasks Tier 2 notebook.ipynb
09/16/2021  02:20 PM    <DIR>          src
04/15/2021  08:41 AM            10,260 Statements Assessment Test.ipynb
09/16/2021  09:25 PM    <DIR>          SyntheticControlMethods
07/14/2021  02:00 PM    <DIR>          Tracing
08/15/2021  01:19 AM         4,879,242 Tree Cover, Green Space, and Air Quality Correlation to Acute Respiratory Illnesses in Cleveland, Los Angeles, New York, and Tampa (2019-2020 Data) (Part 1).ipynb
09/16/2021  09:58 PM    <DIR>          tslib
04/09/2021  11:31 PM            14,852 Ultimate Test.ipynb
07/14/2021  10:57 AM             9,990 Untitled.ipynb
04/08/2021  09:10 PM             5,794 Untitled1.ipynb
09/18/2021  10:36 AM           173,980 Untitled10.ipynb
09/16/2021  11:15 PM             1,932 Untitled11.ipynb
05/28/2021  09:32 AM             2,394 Untitled2.ipynb
07/14/2021  05:28 PM             9,610 Untitled3.ipynb
08/06/2021  03:36 PM            86,405 Untitled4.ipynb
08/06/2021  06:12 PM           728,409 Untitled5.ipynb
08/28/2021  02:27 PM             6,979 Untitled6.ipynb
08/11/2021  06:37 PM            38,275 Untitled7.ipynb
08/30/2021  09:17 PM         4,050,592 Untitled8.ipynb
08/28/2021  08:37 PM             9,476 Untitled8-Copy1.ipynb
08/30/2021  08:17 PM             5,187 Untitled9.ipynb
08/19/2021  01:24 PM    <DIR>          Videos
01/31/2021  10:17 PM             9,032 Voila.ipynb
09/01/2021  12:11 PM         3,695,411 xl_.xlsx
09/01/2021  12:11 PM             4,953 xl3_scaled.xlsx
              71 File(s)     42,842,546 bytes
              41 Dir(s)  39,054,819,328 bytes free

In [14]:
cd census

C:\Users\yuvem\census

## Total Population

In [55]:
from census import Census
from us import states

# Alabama
c = Census("11d78fc169ece1d1701625eceded053f8350b38b")
c.sf1.get(('NAME', 'GEO_ID','PCT001001'),
          {'for': 'state:{}'.format(states.AL.fips)})

[{'NAME': 'Alabama',
  'GEO_ID': '0400000US01',
  'PCT001001': 27719.0,
  'state': '01'}]

In [50]:
# Alaksa
c.sf1.state(('NAME', 'GEO_ID', 'PCT001001'), states.AK.fips, year=2010) # PCT001001 = Population

[{'NAME': 'Alaska',
  'GEO_ID': '0400000US02',
  'PCT001001': 103109.0,
  'state': '02'}]

In [51]:
# Arizona
c.sf1.state(('NAME', 'GEO_ID', 'PCT001001'), states.AZ.fips, year=2010)

[{'NAME': 'Arizona',
  'GEO_ID': '0400000US04',
  'PCT001001': 292139.0,
  'state': '04'}]

In [52]:
# California
c.sf1.state(('NAME', 'GEO_ID', 'PCT001001'), states.CA.fips, year=2010)

[{'NAME': 'California',
  'GEO_ID': '0400000US06',
  'PCT001001': 353564.0,
  'state': '06'}]

In [53]:
# Colorado
c.sf1.state(('NAME', 'GEO_ID', 'PCT001001'), states.CO.fips, year=2010)

[{'NAME': 'Colorado',
  'GEO_ID': '0400000US08',
  'PCT001001': 54470.0,
  'state': '08'}]

In [56]:
# Connecticut
c.sf1.state(('NAME', 'GEO_ID', 'PCT001001'), states.CT.fips, year=2010)

[{'NAME': 'Connecticut',
  'GEO_ID': '0400000US09',
  'PCT001001': 11066.0,
  'state': '09'}]

In [57]:
# Delaware
c.sf1.state(('NAME', 'GEO_ID', 'PCT001001'), states.DE.fips, year=2010)

[{'NAME': 'Delaware',
  'GEO_ID': '0400000US10',
  'PCT001001': 4137.0,
  'state': '10'}]

In [58]:
# D.C.
c.sf1.state(('NAME', 'GEO_ID', 'PCT001001'), states.DC.fips, year=2010)

[{'NAME': 'District of Columbia',
  'GEO_ID': '0400000US11',
  'PCT001001': 2053.0,
  'state': '11'}]

In [59]:
# Florida
c.sf1.state(('NAME', 'GEO_ID', 'PCT001001'), states.FL.fips, year=2010)

[{'NAME': 'Florida',
  'GEO_ID': '0400000US12',
  'PCT001001': 70196.0,
  'state': '12'}]

In [60]:
# Georgia
c.sf1.state(('NAME', 'GEO_ID', 'PCT001001'), states.GA.fips, year=2010)

[{'NAME': 'Georgia',
  'GEO_ID': '0400000US13',
  'PCT001001': 31682.0,
  'state': '13'}]

In [61]:
# Hawaii
c.sf1.state(('NAME', 'GEO_ID', 'PCT001001'), states.HI.fips, year=2010)

[{'NAME': 'Hawaii',
  'GEO_ID': '0400000US15',
  'PCT001001': 4058.0,
  'state': '15'}]

In [62]:
# Idaho
c.sf1.state(('NAME', 'GEO_ID', 'PCT001001'), states.ID.fips, year=2010)

[{'NAME': 'Idaho',
  'GEO_ID': '0400000US16',
  'PCT001001': 20998.0,
  'state': '16'}]

In [63]:
# Illinois
c.sf1.state(('NAME', 'GEO_ID', 'PCT001001'), states.IL.fips, year=2010)

[{'NAME': 'Illinois',
  'GEO_ID': '0400000US17',
  'PCT001001': 43376.0,
  'state': '17'}]

In [64]:
# Indiana
c.sf1.state(('NAME', 'GEO_ID', 'PCT001001'), states.IN.fips, year=2010)

[{'NAME': 'Indiana',
  'GEO_ID': '0400000US18',
  'PCT001001': 18017.0,
  'state': '18'}]

In [65]:
# Iowa
c.sf1.state(('NAME', 'GEO_ID', 'PCT001001'), states.IA.fips, year=2010)

[{'NAME': 'Iowa',
  'GEO_ID': '0400000US19',
  'PCT001001': 10831.0,
  'state': '19'}]

In [66]:
# Kansas
c.sf1.state(('NAME', 'GEO_ID', 'PCT001001'), states.KS.fips, year=2010)

[{'NAME': 'Kansas',
  'GEO_ID': '0400000US20',
  'PCT001001': 27464.0,
  'state': '20'}]

In [67]:
# Kentucky
c.sf1.state(('NAME', 'GEO_ID', 'PCT001001'), states.KY.fips, year=2010)

[{'NAME': 'Kentucky',
  'GEO_ID': '0400000US21',
  'PCT001001': 9875.0,
  'state': '21'}]

In [68]:
# Louisiana
c.sf1.state(('NAME', 'GEO_ID', 'PCT001001'), states.LA.fips, year=2010)

[{'NAME': 'Louisiana',
  'GEO_ID': '0400000US22',
  'PCT001001': 30199.0,
  'state': '22'}]

In [70]:
# Maine
c.sf1.state(('NAME', 'GEO_ID', 'PCT001001'), states.ME.fips, year=2010)

[{'NAME': 'Maine',
  'GEO_ID': '0400000US23',
  'PCT001001': 8409.0,
  'state': '23'}]

In [71]:
# Maryland
c.sf1.state(('NAME', 'GEO_ID', 'PCT001001'), states.MD.fips, year=2010)

[{'NAME': 'Maryland',
  'GEO_ID': '0400000US24',
  'PCT001001': 20137.0,
  'state': '24'}]

In [72]:
# Massachusetts
c.sf1.state(('NAME', 'GEO_ID', 'PCT001001'), states.MA.fips, year=2010)

[{'NAME': 'Massachusetts',
  'GEO_ID': '0400000US25',
  'PCT001001': 18567.0,
  'state': '25'}]

In [73]:
# Michigan
c.sf1.state(('NAME', 'GEO_ID', 'PCT001001'), states.MI.fips, year=2010)

[{'NAME': 'Michigan',
  'GEO_ID': '0400000US26',
  'PCT001001': 60751.0,
  'state': '26'}]

In [74]:
# Minnesota
c.sf1.state(('NAME', 'GEO_ID', 'PCT001001'), states.MN.fips, year=2010)

[{'NAME': 'Minnesota',
  'GEO_ID': '0400000US27',
  'PCT001001': 60573.0,
  'state': '27'}]

In [75]:
# Mississippi
c.sf1.state(('NAME', 'GEO_ID', 'PCT001001'), states.MS.fips, year=2010)

[{'NAME': 'Mississippi',
  'GEO_ID': '0400000US28',
  'PCT001001': 14802.0,
  'state': '28'}]

In [76]:
# Missouri
c.sf1.state(('NAME', 'GEO_ID', 'PCT001001'), states.MO.fips, year=2010)

[{'NAME': 'Missouri',
  'GEO_ID': '0400000US29',
  'PCT001001': 26586.0,
  'state': '29'}]

In [77]:
# Montana
c.sf1.state(('NAME', 'GEO_ID', 'PCT001001'), states.MT.fips, year=2010)

[{'NAME': 'Montana',
  'GEO_ID': '0400000US30',
  'PCT001001': 61496.0,
  'state': '30'}]

In [78]:
# Nebraska
c.sf1.state(('NAME', 'GEO_ID', 'PCT001001'), states.NE.fips, year=2010)

[{'NAME': 'Nebraska',
  'GEO_ID': '0400000US31',
  'PCT001001': 18221.0,
  'state': '31'}]

In [79]:
# Nevada
c.sf1.state(('NAME', 'GEO_ID', 'PCT001001'), states.NE.fips, year=2010)

[{'NAME': 'Nebraska',
  'GEO_ID': '0400000US31',
  'PCT001001': 18221.0,
  'state': '31'}]

In [80]:
# Nevada
c.sf1.state(('NAME', 'GEO_ID', 'PCT001001'), states.NV.fips, year=2010)

[{'NAME': 'Nevada',
  'GEO_ID': '0400000US32',
  'PCT001001': 31349.0,
  'state': '32'}]

In [81]:
# New Hampshire
c.sf1.state(('NAME', 'GEO_ID', 'PCT001001'), states.NH.fips, year=2010)

[{'NAME': 'New Hampshire',
  'GEO_ID': '0400000US33',
  'PCT001001': 3036.0,
  'state': '33'}]

In [82]:
# New Jersey
c.sf1.state(('NAME', 'GEO_ID', 'PCT001001'), states.NJ.fips, year=2010)

[{'NAME': 'New Jersey',
  'GEO_ID': '0400000US34',
  'PCT001001': 28788.0,
  'state': '34'}]

In [83]:
# New Mexico
c.sf1.state(('NAME', 'GEO_ID', 'PCT001001'), states.NM.fips, year=2010)

[{'NAME': 'New Mexico',
  'GEO_ID': '0400000US35',
  'PCT001001': 190375.0,
  'state': '35'}]

In [84]:
# New York
c.sf1.state(('NAME', 'GEO_ID', 'PCT001001'), states.NY.fips, year=2010)

[{'NAME': 'New York',
  'GEO_ID': '0400000US36',
  'PCT001001': 106084.0,
  'state': '36'}]

In [85]:
# North Carolina
c.sf1.state(('NAME', 'GEO_ID', 'PCT001001'), states.NC.fips, year=2010)

[{'NAME': 'North Carolina',
  'GEO_ID': '0400000US37',
  'PCT001001': 121301.0,
  'state': '37'}]

In [86]:
# North Dakota
c.sf1.state(('NAME', 'GEO_ID', 'PCT001001'), states.ND.fips, year=2010)

[{'NAME': 'North Dakota',
  'GEO_ID': '0400000US38',
  'PCT001001': 36412.0,
  'state': '38'}]

In [87]:
# Ohio
c.sf1.state(('NAME', 'GEO_ID', 'PCT001001'), states.OH.fips, year=2010)

[{'NAME': 'Ohio',
  'GEO_ID': '0400000US39',
  'PCT001001': 24554.0,
  'state': '39'}]

In [88]:
# Oklahoma
c.sf1.state(('NAME', 'GEO_ID', 'PCT001001'), states.OK.fips, year=2010)

[{'NAME': 'Oklahoma',
  'GEO_ID': '0400000US40',
  'PCT001001': 313532.0,
  'state': '40'}]

In [89]:
# Oregon
c.sf1.state(('NAME', 'GEO_ID', 'PCT001001'), states.OR.fips, year=2010)

[{'NAME': 'Oregon',
  'GEO_ID': '0400000US41',
  'PCT001001': 51253.0,
  'state': '41'}]

In [90]:
# Pennsylvania
c.sf1.state(('NAME', 'GEO_ID', 'PCT001001'), states.PA.fips, year=2010)

[{'NAME': 'Pennsylvania',
  'GEO_ID': '0400000US42',
  'PCT001001': 26355.0,
  'state': '42'}]

In [91]:
# Rhode Island
c.sf1.state(('NAME', 'GEO_ID', 'PCT001001'), states.RI.fips, year=2010)

[{'NAME': 'Rhode Island',
  'GEO_ID': '0400000US44',
  'PCT001001': 5949.0,
  'state': '44'}]

In [92]:
# South Carolina
c.sf1.state(('NAME', 'GEO_ID', 'PCT001001'), states.SC.fips, year=2010)

[{'NAME': 'South Carolina',
  'GEO_ID': '0400000US45',
  'PCT001001': 19220.0,
  'state': '45'}]

In [93]:
# South Dakota
c.sf1.state(('NAME', 'GEO_ID', 'PCT001001'), states.SD.fips, year=2010)

[{'NAME': 'South Dakota',
  'GEO_ID': '0400000US46',
  'PCT001001': 71557.0,
  'state': '46'}]

In [94]:
# Tennessee
c.sf1.state(('NAME', 'GEO_ID', 'PCT001001'), states.TN.fips, year=2010)

[{'NAME': 'Tennessee',
  'GEO_ID': '0400000US47',
  'PCT001001': 19573.0,
  'state': '47'}]

In [95]:
# Texas
c.sf1.state(('NAME', 'GEO_ID', 'PCT001001'), states.TX.fips, year=2010)

[{'NAME': 'Texas',
  'GEO_ID': '0400000US48',
  'PCT001001': 168423.0,
  'state': '48'}]

In [97]:
# Utah
c.sf1.state(('NAME', 'GEO_ID', 'PCT001001'), states.UT.fips, year=2010)

[{'NAME': 'Utah',
  'GEO_ID': '0400000US49',
  'PCT001001': 32205.0,
  'state': '49'}]

In [98]:
# Vermont
c.sf1.state(('NAME', 'GEO_ID', 'PCT001001'), states.VT.fips, year=2010)

[{'NAME': 'Vermont',
  'GEO_ID': '0400000US50',
  'PCT001001': 2135.0,
  'state': '50'}]

In [99]:
# Virginia
c.sf1.state(('NAME', 'GEO_ID', 'PCT001001'), states.VA.fips, year=2010)

[{'NAME': 'Virginia',
  'GEO_ID': '0400000US51',
  'PCT001001': 28749.0,
  'state': '51'}]

In [100]:
# Washington
c.sf1.state(('NAME', 'GEO_ID', 'PCT001001'), states.WA.fips, year=2010)

[{'NAME': 'Washington',
  'GEO_ID': '0400000US53',
  'PCT001001': 101890.0,
  'state': '53'}]

In [101]:
# West Virginia
c.sf1.state(('NAME', 'GEO_ID', 'PCT001001'), states.WV.fips, year=2010)

[{'NAME': 'West Virginia',
  'GEO_ID': '0400000US54',
  'PCT001001': 3681.0,
  'state': '54'}]

In [102]:
# Wisconsin
c.sf1.state(('NAME', 'GEO_ID', 'PCT001001'), states.WI.fips, year=2010)

[{'NAME': 'Wisconsin',
  'GEO_ID': '0400000US55',
  'PCT001001': 53894.0,
  'state': '55'}]

In [103]:
# Wyoming
c.sf1.state(('NAME', 'GEO_ID', 'PCT001001'), states.WY.fips, year=2010)

[{'NAME': 'Wyoming',
  'GEO_ID': '0400000US56',
  'PCT001001': 13161.0,
  'state': '56'}]